################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BimFun/bin/Debug
/BimFun/obj/Debug
/BimFun/.vs
/BimFun/packages